body {
  background-color: whitesmoke;
}
/*Felső navbar*/
.topnav {
  background: linear-gradient(to bottom, #382d66 5%, #c62d1f 100%);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background: linear-gradient(to bottom, #dd500e 5%, #c62d1f 100%);
  color: black;
}

.topnav a.active {
  background: linear-gradient(to bottom, #000000 5%, #e76767 100%);
  color: white;
}
/*Táblázat*/

#table {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
#table tr {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px;
}
/*Címek*/

.title {
  margin-left: 10px;
  color: #dd500e;
}
/*Body div*/
.content {
  margin-left: 15%;
  padding: 1px 16px;
  height: 100%;
}
/*Rögzített footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1%;
  background: linear-gradient(to bottom, #382d66 5%, #c62d1f 100%);
  color: white;
  text-align: center;
}
/*Gombok*/
.button {
  background: linear-gradient(to bottom, #3b3130 5%, #c62d1f 100%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 135px;
  display: inline;
}
.button_submit {
  background: linear-gradient(to bottom, #00ad48 5%, #180605 100%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 135px;
  display: inline;
}
.successbutton {
  background: linear-gradient(to bottom, #17a11e 5%, #0f5815 100%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 135px;
  display: inline;
}

.redbutton {
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  margin: 5px;
}
.greenbutton {
  background: linear-gradient(to bottom, #37f240 5%, #1ebd26 100%);
  background-color: #37f240;
  border-radius: 6px;
  border: 1px solid #1ebd26;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
}
